body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura completa de la ventana */
    margin: 0;
    font-family: 'Roboto', sans-serif; /* Aplica el estilo de letra */
}

.login-container {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#handleGoogle {
    padding: 8px 16px;
    margin-top: 10px;
}

.dashboard-container {
    text-align: center;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

input {
    padding: 10px;
    margin: 5px;
    width: 100%;
    box-sizing: border-box;
}

form {
    margin: 20px;
}